* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    width: 100%;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}
#main {
    width: 100%;
    overflow-x: hidden;
}
#home {
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
}
#home img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;

}
#home #circle {
    width: 120vw;
    height: 120vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-color: transparent;
    overflow: hidden;
}
#circle img {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}
#ctop {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#cbtm {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#ctop img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-180deg);
    /* background-color: red; */
}
#cbtm img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* background-color: red; */
} 
#ctop img:nth-child(1) {
    transform: translate(-50%, -50%) rotate(-180deg) scale(1);
}
#ctop img:nth-child(2) {
    transform: translate(-50%, -50%) rotate(-180deg) scale(.8);
}
#ctop img:nth-child(3) {
    transform: translate(-50%, -50%) rotate(-180deg) scale(.5);
}


#cbtm img:nth-child(1) {
    transform: translate(-50%, -50%) scale(1);
}
#cbtm img:nth-child(2) {
    transform: translate(-50%, -50%) scale(.8);
}
#cbtm img:nth-child(3) {
    transform: translate(-50%, -50%) scale(.5);
}

#overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
#smcircle {
    width: 37vw;
    height: 37vw;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
}
#nav {
    position: absolute;
    width: 100%;
    /* height: 10vh; */
    /* background-color: red; */
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2vw 4vw;
}
#nav h1 {
    font-size: 1.3vw;
    font-family: DS-Digital;
    text-transform: uppercase;
    line-height: 1.2vw;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.650);
    pointer-events: none;
}
#rnavt {
    width: 6vw;
    height: .9vw;
    display: flex;
    font-family: DS-Digital;
} 
#r1nav {
    width: 1vw;
    background-color: rgba(0, 0, 0, 0.090);
}
#r2nav {
    width: 1vw;
    background-color: rgba(0, 0, 0, 0.250);
}
#r3nav {
    width: 1vw;
    background-color: rgba(0, 0, 0, 0.400);
}
#r4nav {
    width: 1vw;
    background-color: rgba(0, 0, 0, 0.600);
}
#r5nav {
    width: 1vw;
    background-color: rgba(0, 0, 0, 0.750);
}
#r6nav {
    width: 1vw;
    background-color: rgb(0, 0, 0.950);
}
#rnavb {
    height: 1vh;
    width: 6vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2vh .2vw;
}
#rnav h6 {
    font-size: .8vw;
    letter-spacing: .08vw;
    text-transform: uppercase;
    font-family: DS-Digital;
    pointer-events: none;
}

#overlay #btmnav {
    z-index: 9999;
    width: 100%;
    /* background-color: red; */
    position: absolute;
    top: 93%;
    left: 50%;
    transform: translate(-50%,-50%);  
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2vh 2vw;
}
#btmnav img {
    width: 6.5vw;
    object-fit: cover;
    object-position: center;
}
#centerimg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20vw;
    z-index: 9999;
    text-transform: uppercase;
    /* background-color: rebeccapurple; */
}
#centerimg h6 {
    font-size: 1vw;
    font-weight: 400;
    pointer-events: none;
}
#centerimg h6:nth-child(1) {
    margin-bottom: 1vw;
}
#centerimg #cimage {
    margin-top: 1vw;
    position: relative;
    width: 100%;
    height: 25vh;
    /* background-color: orange; */
}
#cimage img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#page1 {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
#overlay #glry {
    position: absolute;
    left: 50%;
    bottom: 2%;
    transform: translate(-50%, 0);
    font-size: 10vw;
    font-family: DS-Digital;
    font-weight: 500;
    pointer-events: none;
    letter-spacing: -.3vw;

    color: rgba(0, 0, 0, 0.821);
    z-index: 999999;
}
#gola {
    width: 5vw;
    height: 5vw;
    background-color: #d5a7b4;
    position: absolute;
    top: 120%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999999;
    border-radius: 50%;
    /* scale: .5; */
}
#overlay>h1#pf {
    position: absolute;
    left: 50%;
    bottom: -50%;
    transform: translate(-50%, 0) rotate(30deg);
    font-size: 8vw;
    letter-spacing: -.3vw;
    text-transform: uppercase;
    font-family: Scto Grotesk A Medium;
    font-weight: 500;
    pointer-events: none;
    z-index: 999999;
    transform-origin: 50% 0%;
    color: rgba(255, 255, 255);
}
#pinkbox {
    width: 30vw;
    height: 30vw;
    background-color: #d5a7b4;
    position: absolute;
    top: 150%;
    left: 0;
    transform: translate(0, -50%);
    z-index: 99;
    padding: 1vw 0vw;
    pointer-events: none;
}
#pinkbox img {
    object-fit: cover;
    object-position: center;
}





























/* media Query */
@media (max-width: 500px) { 
    @home {
        display: flex;
        flex-direction: coloum;
    }
    
}